# Xtensa board configuration

# Copyright (c) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

config  BOARD_UP_XTREME_ADSP
	bool "Xtensa on Up Xtreme"
	depends on SOC_SERIES_INTEL_CAVS_V18
